/* Base */

@import url(../css/base/reset.css);
@import url(../css/base/normalize.css);

/* Utils */

@import url(../css/utils/variables.css);
@import url(../css/utils/common.css);

@keyframes pulseScale {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.07;
  }
  100% {
    scale: 1;
  }
}

/* hero */

.hero {
  background-image: url(../img/hero/ellipse.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.hero-title-container {
  position: relative;
  max-width: 311px;

  margin-bottom: 54px;
}

.hero-title {
  color: #fff;
  font-family: Unbounded;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 41.6px */
  text-transform: uppercase;

  padding-top: 40px;
}

.hero-image {
  position: absolute;
  right: 0;
  top: 0;
}

.hero-desc {
  color: #c500d6;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 31.2px */
}

/* prediction */

.prediction-desc {
  background: linear-gradient(
    180deg,
    rgba(13, 13, 13, 0.1) 5.21%,
    rgba(219, 71, 214, 0.1) 30%,
    rgba(219, 71, 214, 0.1) 75.31%,
    rgba(13, 13, 13, 0.1) 100%
  );
  backdrop-filter: blur(55px);
}

.prediction-list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  max-width: 257px;
  margin: 0 auto;
}

.prediction-list .list-item {
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 18.2px */
}

.prediction-list .list-item:last-child {
  padding-top: 10px;
  color: #f365ff;
}

/* what-do */

.what-do-wrapper {
  padding: 20px;
  border-radius: 20px;
  background: #8f438b;

  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 255px;
  margin: 0 auto;
}

.what-do-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;

  padding-left: 20px;
  list-style: disc;
}

.what-do-list .list-item {
  color: #fff;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 20.8px */
}

/* traditional */

.traditional {
  background-image: url(../img/traditional/author-image-1x.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 265px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .traditional {
    background-image: url(../img/traditional/author-image-2x.png);
  }
}

.traditional-container {
  height: 100px;

  background-image: url(../img/traditional/ellipse.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 10px 1px;

  margin-bottom: 80px;
}

.traditional-title {
  padding-top: 20px;

  color: #fff;
  font-family: Unbounded;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 19.5px */
}

.traditional-title span {
  color: #f688ff;
}

.traditional-date {
  color: #fff;
  font-family: Unbounded;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 19.5px */

  margin-bottom: 10px;
}

/* vebinar-steps */

.vebinar-list {
  margin-bottom: 60px;
}

.vebinar-list .list-item:nth-child(1)::after {
  content: '';
  display: block;

  height: 2px;
  width: 140px;

  margin: 60px 0;

  background-color: #8d0099;
}

.vebinar-list .item-title-container {
  display: flex;
  align-items: end;
  justify-content: space-between;

  margin-bottom: 20px;
}

.vebinar-list .item-title {
  color: #fff;
  font-family: Unbounded;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 18.2px */

  max-width: 257px;
}

.vebinar-list .item-number {
  font-family: Unbounded;
  font-size: 96px;
  font-weight: 700;
  line-height: 75%; /* 124.8px */

  color: #0d0d0d;
  text-shadow: 1px 0 1px #8d009980, 0 1px 1px #8d009980, -1px 0 1px #8d009980,
    0 -1px 1px #8d009980;
}

.vebinar-list .item-wrapper {
  padding: 24px 18px;
  border-radius: 20px;
  background: #8f438b;

  max-width: 312px;
  margin: 0 auto;
}

.steps-list {
  display: flex;
  flex-direction: column;
  gap: 5px;

  max-width: 230px;
  margin: 0 auto;

  list-style: disc;
}

.steps-list .steps-item {
  color: #fff;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 18.2px */
}

/* possibility-wrapper */

.possibility-wrapper {
  position: relative;

  padding: 30px;
  border-radius: 20px;
  border: 3px solid #f150ff;
  background: #fff;
}

.possibility-title {
  color: #f150ff;
  text-align: center;
  font-family: Unbounded;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 23.4px */
  text-transform: uppercase;
}

.possibility-text {
  color: #0d0d0d;
  text-align: center;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 18.2px */
}
.pos-image {
  position: absolute;
  right: 5px;
  top: -30px;
}

/* tariffs */

.tariffs {
  background-image: url(../img/tariffs/ellipse.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.tariffs-title {
  color: #fff;
  text-align: center;
  font-family: Unbounded;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 26px */

  margin-bottom: 20px;
}

.tariffs-list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  margin-bottom: 40px;
}

.tariffs-list .list-item {
  padding: 30px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);

  max-width: 320px;
  width: 100%;
  margin: 0 auto;
}

.tariffs-list .item-title {
  text-align: center;
  font-family: Unbounded;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 36px */
  text-transform: uppercase;
}

.tariffs-list .item-title::after {
  content: '';
  display: block;

  width: 200px;
  height: 1px;
  background: #fff;
  margin: 20px auto;
}

.tariffs-list .list-item:nth-child(1) .item-title {
  color: #f688ff;
}
.tariffs-list .list-item:nth-child(2) .item-title {
  color: #c500d6;
}

.entries-list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  max-width: 244px;
  margin: 0 auto;
}

.entries-list .entry-item {
  display: flex;
  align-items: center;
  gap: 10px;

  color: #fff;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 16px */
  letter-spacing: -0.16px;
}

.price-container::before {
  content: '';
  display: block;

  width: 200px;
  height: 1px;
  background: #fff;
  margin: 20px auto;
}

.price-container {
  position: relative;
  margin-bottom: 20px;
}

.price-line {
  position: absolute;
  top: 35px;

  transform: rotate(-6deg);

  display: block;
  width: 110px;
  height: 3px;
}

.tariffs-list .list-item:nth-child(1) .price-line {
  left: 32px;
  background: #f688ff;
}

.tariffs-list .list-item:nth-child(2) .price-line {
  background: #c500d6;
  left: 26px;
}

.price {
  color: #fff;
  text-align: center;
  font-family: Unbounded;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
}

.price span {
  color: rgba(255, 255, 255, 0.4);
}

.buy-btn {
  display: block;
  padding: 16px;

  color: #0d0d0d;
  text-align: center;
  font-family: Unbounded;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 20.8px */

  border-radius: 40px;
  max-width: 285px;
  width: 100%;
  margin: 0 auto;
  border: inherit;

  animation: pulseScale 1500ms infinite;
}

.tariffs-list .list-item:nth-child(1) .buy-btn {
  color: #0d0d0d;
  background: #f688ff;
}
.tariffs-list .list-item:nth-child(2) .buy-btn {
  color: #fff;
  background: #c500d6;
}

.plases {
  display: block;
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 14px */
  letter-spacing: -0.14px;

  margin-top: 10px;
}

/* timer */

.timer-title {
  color: #db47d6;
  text-align: center;
  font-family: Unbounded;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 110%; /* 16.5px */
  text-transform: uppercase;
}

/* timer */

.countdown {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.countdown-number {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countdown-time {
  display: block;
  color: #fff;
  text-align: center;
  font-family: Unbounded;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.48px;
  width: 50px;
}

.countdown-doubledot {
  content: '';
  display: flex;
  height: 30px;
  width: 1px;
  background: #fff;
  margin: 0 auto;
}

.countdown-label {
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.22px;

  margin-top: -6px;
}

/* modal */

body.modal-open {
  overflow: hidden;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);

  opacity: 1;
  visibility: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  z-index: 999;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;

  padding-top: 50px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;

  width: 95%;
  max-width: 400px;
  max-height: 800px;

  border-radius: 20px;
  background: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  overflow-y: auto !important;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
